@font-face {
    font-family: 'Concept';
    src: url('../font/ConceptMedium.woff2') format('woff2'),
        url('../font/ConceptMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe Print';
    src: url('../font/SegoePrint.woff2') format('woff2'),
        url('../font/SegoePrint.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe Print';
    src: url('../font/SegoePrint.woff2') format('woff2'),
        url('../font/SegoePrint.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

